<!DOCTYPE html>
<html lang="en">
  
<% include head %>

<body>

  <div class="container">

  <% include navbar %>

  <div id="content">

  <div class="boxheader"> 
    <div class="panel-heading">
      <span style="font-family: lobster, cursive">Supermarkets</span>
    </div>
  </div>

  <div class = "panel panel-info panel-body">

  	<h2>Safeway</h2>

      <p>

        <div class="captionRight">
     	    <a href="http://www.safeway.com/">   	
            <img src="images/Safeway.gif" alt="" width = "200">
          </a>
        </div>

        625 Monterey Blvd<br>
        (415) 586-2421<br>
        Store Hours: Open daily 6:00 AM-12:00 AM<br>
        This is the closest supermarket to the house (about a 10 minute walk). To get there, turn left as you exit the house.  Follow TERESITA down to where it ends and meets FOERSTER (NOTE:  Teresita meets Foerster at two different points, one being right by the house -- you want the point farther down).  At FOERSTER, turn left and go down to MONTEREY BLVD.  At MONTEREY BLVD., cross the street and turn right.  You should see Safeway on your left side very shortly.

      </p>

  	  <p class = "clearfix" style = "bottom-padding:200"></p>

  	<h2>Canyon Market</h2>

    	<p>

        <div class="captionRight">
       	  <a href="http://www.canyonmarket.com/">   	
            <img src="images/CanyonMarket.jpg" alt="" width = "200">
          </a>
        </div>

        2815 Diamond Street<br>
        (415) 586-9999<br>

        Canyon Market offers a higher-end selection of foods.  Located in Glen Park Village (about a 15 minute walk, or a quick bus ride on the 36-Teresita).  To get there, follow the same directions as for the Glen Park BART station on our Transportation page.  Canyon Market is a block away from the BART station.

    	</p>

    	<p class = "clearfix" style = "bottom-padding:200"></p>

	  <h2>Mollie Stones</h2>

  	  <p>

  		  <div class="captionRight">
  		 	  <a href="http://www.molliestones.com/StoreLocator/Store_Detail_S.las?L=8&S=">   	
  		      <img src="images/MollieStones.png" alt="" width = "200">
  		    </a>
  		  </div>

        635 Portola Drive<br>
        (415) 664-1600<br>

  	 		Mollie Stone also caters to those with higher-end tastes, with prices to match.  Located at Tower Market Shopping Center just at the end of Teresita.  Walking down there takes about 20 minutes, but you can take the 36-Teresita Bus and get off at Fowler Street.
   
    	</p>

  	  <p class = "clearfix" style = "bottom-padding:200"></p>

  </div>

  <div class="boxheader"> 
    <div class="panel-heading">
      <span style="font-family: lobster, cursive">Restaurants</span>
    </div>
  </div>

  <div class = "panel panel-info panel-body">

  	<p>
      If you want sit-down dining nearby, your best bets are the restaurants in Glen Park.  Here are some of our favorites (CLICK ON LOGOS FOR LINKS TO RESTAURANTS):
    </p>

    <h2>Gialina Pizzeria</h2>

    	<p>

        <div class="captionRight">
        	<a href="http://www.gialina.com">
          	<img src="images/Gialina.png" alt="" width = "200"><br>
        	</a>
        </div>

        2842 Diamond Street<br>
        (415) 239-8500<br>

        Thin-crust Neapolitan-style pizzas.  Kind of expensive but delicious.  Very popular, you may have to wait a while (no reservations).

      </p>
      <p class = "clearfix" style = "bottom-padding:300"></p>

    <h2>Le P'tit Laurent</h2>

    	<p>

        <div class="captionRight">
     	    <a href="http://leptitlaurent.net/">   	
          	<img src="images/LePtitLaurent.jpg" alt="" width = "200">
          </a>
        </div>

        699 Chenery Street<br>
        (415) 334-3235<br>
        Excellent French food.  Expensive.

      </p>
      <p class = "clearfix" style = "bottom-padding:300"></p>

    <h2>Big Joe's</h2>
      <p>

        <div class="captionRight">
          <a href="images/BigJoes.jpg">    
            <img src="images/BigJoes.jpg" alt="" width = "200">
          </a>
        </div>
        717 Monterey Boulevard<br>
        (415) 333-2878<br>
        For breakfast/brunch stuff, this is the closest place (about a 10 minute walk from the house).

      </p>
      <p class = "clearfix" style = "bottom-padding:200"></p>

  </div>

</body>

</html>
