<!DOCTYPE html>

<html lang="en">
 
<% include head %>

<body>

	<div class="container">

	<% include navbar %>

	<div id="content">

	<div class="boxheader"> 
	  <div class="panel-heading">
	    <span style="font-family: lobster, cursive">Entertainment</span>
	  </div>
	</div>

	<div class = "panel panel-info panel-body">

		<h2>Events Around Town</h2>

		<p>
			To get a list of goings-on around town, go here: 
		</p>

		<p>
			<a href="http://events.sfgate.com/">CLICK HERE FOR SFGATE GUIDE TO EVENTS AROUND TOWN</a>
		</p>

	</div>

</body>

</html>

