<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Miraloma House</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="./stylesheets/style.css" media="screen">
<!--  <link href="//maxcdn.bootstrapcdn.com/bootswatch/3.2.0/superhero/bootstrap.min.css" rel="stylesheet"> --> 
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="../bower_components/html5shiv/dist/html5shiv.js"></script>
      <script src="../bower_components/respond/dest/respond.min.js"></script>
    <![endif]-->
    <script>

     var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-23019901-1']);
      _gaq.push(['_setDomainName', "bootswatch.com"]);
        _gaq.push(['_setAllowLinker', true]);
      _gaq.push(['_trackPageview']);

     (function() {
       var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
       ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
       var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
     })();

    </script>
  </head>
  <body>

  <div class="container">

     <div class="row text-center">
        <div class="col-lg-12">
          <div class="bs-component">
            <div class="jumbotron">
              <h1 style = "margin-bottom: 30px">Welcome to Miraloma House!</h1>
                
              <p style="padding-bottom: 40px">
                Thank you for choosing us on Airbnb.<br>
                We hope you enjoy your stay in San Francisco.
              </p>

              <p class="centeredImage" style="padding-bottom: 40px">
                <img src="images/ourhome.jpg" alt="" style="width: 300px" ><br>  
              </p>

            </div>
          </div>
        </div>
    </div>

    <p class = "clearfix" style = "bottom-padding:300"></p>

    <p class="bs-component text-center">
      <a href="neighborhood" class="btn btn-lg btn-primary">Neighborhood/Nearby Parks</a>
      <a href="transportation" class="btn btn-lg btn-primary">Transportation</a>             
      <a href="eating" class="btn btn-lg btn-primary">Eating</a>
      <a href="entertainment" class="btn btn-lg btn-primary">Entertainment</a>  
      <a href="television" class="btn btn-lg btn-primary">Television</a>
      <a href="post" class="btn btn-lg btn-primary">Guest Comments</a>
    </p>

    <p class = "clearfix" style = "bottom-padding:400"></p>

    <div class="row text-center">
      <div class="col-lg-12">
        <h2>Hummingbirds in our yard</h2>
      </div>
    </div>

    <div class="row">
      <p class = "clearfix" style = "bottom-padding:400"></p>          

          <div class="col-lg-4 text-center">
            <div class="bs-component">
              <div class="panel panel-primary">

                <div class="panel-heading">
                  <h3 class="panel-title">Anna's Hummingbird</h3>
                </div>

                <div class="panel-body">
                  <p>
                    Anna's Hummingbird is the hummingbird you are most likely to see in the yard.
                  </p>
                  <img id = "bird" src="images/Annas2.jpg" alt="" width = "200" height = "180" />
                </div>

              </div>
            </div>  
          </div>

          <div class="col-lg-4 text-center">
            <div class="bs-component">
              <div class="panel panel-danger">

                <div class="panel-heading">
                  <h3 class="panel-title">Rufous Hummingbird</h3>
                </div>

                <div class="panel-body">
                  <p>
                    You may also see a Rufous Hummingbird, with its throat glinting like copper in the sun.
                  </p>
                  <img id = "bird" src="images/rufous.jpg" alt="" width = "200" height = "180"/>
                </div>

              </div>
            </div>
          </div>

          <div class="col-lg-4 text-center">         
            <div class="panel panel-info">

              <div class="panel-heading">
                <h3 class="panel-title">Costas Hummingbird</h3>
              </div>

              <div class="panel-body">
                <p>
                  FUGGEDABOUTIT!  (Though these are occasionally spotted by birders on nearby Mount Davidson).
                </p>
                <img id = "bird2" src="images/costas2.jpg" alt="" width = "200" height = "180"/>
              </div>

            </div>
          </div>
        </div>
          
  </div>

  <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>

  </body>

</html>
