<!DOCTYPE html>
<html lang="en">
  
<% include head %>

<body>

<div class="container">

<% include navbar %>

<div id="content">

<div class="boxheader"> 
  <div class="panel-heading">
    <span style="font-family: lobster, cursive">Neighborhood</span>
  </div>
</div>

<div class = "panel panel-info panel-body">

  <h2>Miraloma Park</h2>

  <p>
    Our home is located in San Francisco's Miraloma Park neighborhood.  If you've never heard of it before, you're in good company -- most San Franciscans probably haven't either.  Some better-known neighborhoods that we border are Diamond Heights to the North and Glen Park to the East.  We are also close to West Portal.
  </p>

  <p>
    Most of Miraloma Park lies in San Francisco's fog belt, San Francisco being roughly divisible into three climate zones -- sun belt, fog belt, and the transition zone between the two (though the differences between the zones are most noticeable during our "wintry" summers).  What the neighborhood lacks in climate though it makes up for in views -- our hilly terrain gives us some of the best in The City.  And since we're sandwiched in between Mount Davidson Park and Glen Canyon Park, nature abounds. 
  </p>

  <p>
    There is very little information on the web about our neighborhood, but you can try the following link if you're interested in learning more:  <a href="http://www.sanfranciscodays.com/miraloma-park/">[CLICK HERE]</a>
  </p>

</div>

<div class="boxheader"> 
  <div class="panel-heading">
    <span style="font-family: lobster, cursive">Nearby Parks</span>
  </div>
</div>

<div class = "panel panel-info panel-body">

	<h2>Mount Davidson</h2>

	<p>

    <div class="captionRight">
      <a href="images/Dalewood.jpg">
        <img src="images/Dalewood.jpg" alt="" width = "200" height = "180"><br>
      </a>
      Biker rides up Dalewood
    </div>

    <div class="captionRight">
      <a href="images/MountDavidsonView.jpg">
        <img src="images/MountDavidsonView.jpg" alt="" width = "200" height = "180"><br>
      </a>
      View from Mount Davidson
    </div>

    Mount Davidson is the highest point in San Francisco, offering expansive (but not 360 panoramic) views of The City.  It is famous for the large white cross at the summit, where they shot a scene in Dirty Harry with Clint Eastwood.  You can click on the following link to watch that clip, but it's a night scene, and so dark they might as well have shot it on a soundstage:  <a href="https://www.youtube.com/watch?v=soZZ_agKT8E">DIRTY HARRY CLIP</a>.<br><br>
    To get to Mount Davidson, walk out of the house, turn right, and walk up the street to BELLA VISTA.  At BELLA VISTA, turn left, and continue until you come upon a stairway leading upslope from the right side of the street.  Follow this stairway up to the top where it ends on MYRA WAY, then turn left and walk a block or so up to DALEWOOD.  At DALEWOOD, turn right and walk up the hill to the bus stop.  The main entrance to the park is right behind the bus stop.  If you continue on DALEWOOD past this point, you'll come upon one of the steepest stretches of road in SF, routinely included in the "Seven Hells of San Francisco" bike tour sponsored by the San Francisco Bicycle Coalition.  I rode up it once and that was enough.

  </p>

	 <p class = "clearfix" style = "bottom-padding:300"></p>

	<h2>Glen Canyon Park</h2>

	<p>

    <div class="captionRight">
      <a href="images/GlenCanyonPark.jpg">
        <img src="images/GlenCanyonPark.jpg" alt="" width = "200" height = "180"><br>
      </a>
      Beyond this hill lies Safeway!
    </div>

    <div class="captionRight">
      <a href="images/GlenParkSign.jpg">
        <img src="images/GlenParkSign.jpg" alt="" width = "200" height = "180"><br>
      </a>
      Glen Park entrance
    </div>

    This is indeed a canyon, and you can forget you're in an urban environment as you lose site of the houses on the surrounding hills.  Popular with rock climbers.  It always gives me a small thrill to see the coyote warning signs, though they haven't attacked anyone yet.  To get to Glen Canyon Park, walk out of the house, turn left.  At STILLINGS, turn left again.  At CONGO, turn left, and follow it as it curves down to BOSWORTH.  Cross to the other side of BOSWORTH street, walk past the bus shelter and continue.  The first small side street on your right will take you to the entrance of Glen Canyon Park.

	</p>

	<p class = "clearfix" style = "bottom-padding:300"></p>

	<h2>Nice Quick Five-Minute Walk</h2>

	<p>

    <div class="captionRight">
      <a href="images/reservoir1.jpg">
        <img src="images/reservoir1.jpg" alt="" width = "200" height = "180"><br>
      </a>
      The Reservoir Lands at Glen Park
    </div>

    <div class="captionRight">
      <a href="images/reservoir2.jpg">
        <img src="images/reservoir2.jpg" alt="" width = "200" height = "180"><br>
      </a>
      The Reservoir Lands at Glen Park
    </div>

    Go out of the house, turn right and walk up TERESITA.  The first side street you'll encounter on the right is MARIETTA.  Turn right on MARIETTA and in just a minute or two, you'll end up at a rocky outcropping with nice views called "The Reservoir Lands at Glen Park", though I don't know why it's called that.

  </p>

</div>

<script src="../bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="../assets/js/bootswatch.js"></script>

</body>

</html>

