<!DOCTYPE html>
<html lang="en">
 
<% include head %>

<body>

<div class="container">

<% include navbar %>

<div id="content">

<div class="boxheader"> 
  <div class="panel-heading">
    <span style="font-family: lobster, cursive">Television</span>
  </div>
</div>

<div class = "panel panel-info panel-body">

	<h2>XFinity Channel Listings</h2>

	<p>
    	If you came all the way to beautiful San Francisco to watch television, well, who am I to stop you.  
	</p>

	<p>	
		<a href="http://tvlistings.aol.com/listings/ca/san-francisco/comcast/CA04487|X">CLICK HERE FOR TV LISTINGS</a>
	</p>

</div>

</body>

</html>

